In [1]:
import numpy as np
import pandas as pd

In [2]:
myString = 'Hello'

In [3]:
myString.capitalize()

'Hello'

In [5]:
myString.isdigit()

False

# Pandas and Text

## Text Methods on Pandas String Column

In [12]:
names = pd.Series(['prathamesh', "jessica", 'martha', 'kristen', 'John', 'Michael', '5'])

In [9]:
names

0    prathamesh
1       jessica
2        martha
3       kristen
4          John
5       Michael
dtype: object

In [13]:
names.str.capitalize()

0    Prathamesh
1       Jessica
2        Martha
3       Kristen
4          John
5       Michael
6             5
dtype: object

In [14]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

## Splitting, Grabbing and Expanding

In [15]:
tech_finance = ['GOOG, APPL, AMZN', 'JPM, BAC, GS']

In [16]:
len(tech_finance)

2

In [17]:
tickers = pd.Series(tech_finance)

In [18]:
tickers

0    GOOG, APPL, AMZN
1        JPM, BAC, GS
dtype: object

In [19]:
tickers.str.split(',')

0    [GOOG,  APPL,  AMZN]
1        [JPM,  BAC,  GS]
dtype: object

In [23]:
tickers.str.split(',').str[2]

0     AMZN
1       GS
dtype: object

In [24]:
tickers.str.split(',', expand=True)

      0      1      2
0  GOOG   APPL   AMZN
1   JPM    BAC     GS

## Cleaning or Editing Strings

In [26]:
messy_names = pd.Series(['Andrew   ', 'bo;bo', '   Claire   '])

In [29]:
messy_names

0       Andrew
1           bo;bo
2       Claire
dtype: object

In [30]:
messy_names.str.replace(';', '')

0       Andrew
1            bobo
2       Claire
dtype: object

In [31]:
messy_names.str.strip()

0    Andrew
1     bo;bo
2    Claire
dtype: object

In [35]:
messy_names.str.replace(';', '').str.strip()

0    Andrew
1      bobo
2    Claire
dtype: object

In [36]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

## Alternative with Custom Apply Call

In [39]:
def cleanup(name):
    name = name.strip();
    name = name.replace(';', '')
    name = name.capitalize()
    return name

In [42]:
messy_names

0       Andrew
1           bo;bo
2       Claire
dtype: object

In [43]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object